@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.LoginPageViewModel
@using EPiServer.Framework.Localization;

<div class="container-fluid">
    <div class="row">
        @if ((bool)ViewData["IsReadOnly"])
        {
            @Html.Raw(String.Format("<div class=\"container\"><p class=\"text-center\">{0}</p></div>", LocalizationService.Current.GetString("/Readonly/Login")))
        }
        else
        {
            <partial name="RegisterAccount" model="Model.RegisterAccountViewModel" />
            <partial name="Login" model="Model.LoginViewModel" />
        }
    </div>
</div>