@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EPiServer.Reference.Commerce.Site.Features.AddressBook.ViewModels.AddressViewModel

<div class="container-fluid">
    <div class="row myPage">
        @if (Model.CurrentPage != null)
        {
            <partial name="_CmsNavigation" model="Model.CurrentPage" />
        }
        <partial name="EditAddress" model="Model" />

    </div>
</div>