@model EPiServer.Reference.Commerce.Site.Features.Shared.Models.IProductModel

<div class="jsProductTile product-row__tile col-xs-12 col-sm-6 col-lg-4">
    @await Html.PartialAsync("_Product", Model)
</div>